# 「.streamlit」フォルダは以下にsecrets.tomlを作り、以下の変数を設定してください

redirect_uri = "XXX"
cookie_secret = "XXX"
client_id = "XXX"
client_secret = "XXX"
server_metadata_url = "XXX"
OPENAI_API_KEY = "XXX"

SUPABASE_URL="XXX"
SUPABASE_KEY="XXX"